svg { stroke-linecap:round;
      stroke-linejoin:round;
      fill:none }

/* Set some basic colors and styles */
path {  stroke: black; stroke-width: 1.5px; fill-opacity:0.2; }
line {  stroke: black; stroke-width: 1.5px; fill-opacity:0.2; }
text {  fill: black; stroke-width: 0; font-family: Arial; font-size:30px; }

/* Generally hide the mezzanine and mechanical items.... */
path[qslayer="mezzanine"] { display:none; }
[qslayer="mechanical"] { display:none; }

/* Don't display most of the labels */
text:not([qslayer="areas"], [qslayer="0"]) { display: none;}
/* Make underlying equipment really tranparent.. */
path:not([qslayer="areas"], [qslayer="0"]) { fill-opacity: 0.05;
					     stroke-opacity: 0.1; }
line:not([qslayer="areas"], [qslayer="0"]) { fill-opacity: 0.05;
					     stroke-opacity: 0.1; }
/* Except for layer 0 building outlines.. */
path:[qslayer="0"] {fill-opacity: 1.0; stroke-opacity: 1.0; }
line:[qslayer="0"] {fill-opacity: 1.0; stroke-opacity: 1.0; }

/* Except for the 3d printers - we'll shift these over by a few pixels and
 display the mezzanine outline */

g[class^="3dprinterarea"] path { display:inline; }
g[class^="3dprinterarea"] path[qslayer="areas"] { stroke: black;
						  fill:lightblue;
						  fill-opacity:1.0; }

/* Remove labels for worktable7 and shelf2, since they'll overlap
   other equipment */
g[class^="worktable7"] > text { display: none; }
g[class^="shelf2"] > text     { display: none; }

/* Show outlines of areas and shade them in a little... */
g[class^="3dprinterarea"]   { stroke: darkblue; fill:blue; }
g[class^="classroomarea"]   { stroke: gold; fill: yellow; }
g[class^="cocreatorarea"]   { stroke: darkorange; fill: orange; }
g[class^="craftingarea"]    { stroke: darkorange; fill: orange; }
g[class^="electronicsarea"] { stroke: darkblue; fill:blue; }
g[class^="generalarea"]     { stroke: darkgreen; fill: green; }
g[class^="laserarea"]       { stroke: maroon; fill: red; }
g[class^="metalarea"]       { stroke: darkslategray; fill: slategray; }
g[class^="sewingarea"]      { stroke: maroon; fill: red; }
g[class^="woodarea"]        { stroke: darkmagenta; fill: magenta; }
